.header {
    border-radius: 0px;
    display: flex;
    font-style: 'Plus Jakarta Sans', sans-serif;
    height: 119px;
    width: 100%;
    justify-content: space-between;
}
.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 24px;
    margin-right: 13px;
    word-wrap: break-word;
}
ul{
    margin-right: 56px;
    
}
.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 41px;
    width: 206px;
    margin-left: 53px;
    margin-top: 39px;
    border-radius: 0px;
}

.userIcon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 138px;
    margin-right: 23px;
}
.userIcon img {
    margin-right: 30px;
}